<% provide(:title, "Home") %>
<div class="jumbotron">
    <h1 class="col-md-offset-2">Welcome to the sample app</h1> 
    <br/>
    <%= link_to "Sign Up" , signup_path , class: "btn col-md-offset-6 btn-lg  btn-primary" %>
</div>

