<nav class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav navbar-right">
          <li class="active"><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "News", "http://news.railstutorial.org" %></li>  
      </ul>
    </div> 
 </div>
</nav>